

.calculadora-c {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

.calculadora-img{
  height: 100px;
}

.calculadora-img-color{
  height: 100px;

}

.calculadora-img-h1{
  font-size: 8vw;
margin-top: 10px;
}


.calculadora-h {
  font-size: 7vw;
}

.calculadora-input{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}


.graph{
height: auto;
width: 90%;
margin-left: 5%;
margin-right: 5%;
overflow: hidden;
margin-bottom: 0;
margin-top: 20px;
}
