#desk-btn-calculadora{
  display: none;
}

#desk-btn-inicio{
  display: none;
}
#desk-btn-acerca{
  display: none;
}

#desk-btn-contacto{
  display: none;
}

#logo-desktop{
  width:33%;
}

.nav-bar-desktop{
  height: 54px;
}
