<div class="acerca-c">
  <h1 class="acerca-h1">Acerca de nosotros</h1>

<br>
<br>
<br>


<h2 class="acerca-h2">Aplicaciones web</h2>
<p class="acerca-texto-2">
Creamos aplicaciones web no sitios web comunes. La diferencia radica en que nuestras aplicaciones tienen una interacción similar a una aplicación de télefono nativa.
</p>

<br>
<br>
<h2 class="acerca-h2">Autenticidad</h2>
<p class="acerca-texto-1">
No usamos plantillas, por lo que aseguramos que tu aplicación web sea tan única como tu negocio.
</p>

<br>
<br>

<h2 class="acerca-h2">Garantía de satisfacción</h2>
<p class="acerca-texto-3">
Si no estas satisfecho con alguna parte de tu aplicación web en el rango de dos semanas después de la entrega, podemos relizar cambios hasta que esté usted satisfecho.
</p>

<br>
<br>

<h2 class="acerca-h2">Multiples dispositivos</h2>
<p class="acerca-texto-3">
Usamos diseño responsivo para crear nuestras aplicaciones web, por lo tanto estas se adaptan a cualquier dispositivo, ya sea tablet, smartphone, laptop, o escritorio.
</p>

<br>
<br>

<h2 class="acerca-h2">Logotipos</h2>
<p class="acerca-texto-3">
Si no tiene logotipo, o desea uno nuevo podemos crear uno para usted, y usted conserva los derechos.
</p>

<br>
<br>

<h2 class="acerca-h2">Elementos especializados</h2>
<p class="acerca-texto-3">
Nos adaptamos a sus necesidades, si necesita algún elemento especial para su aplicación web, como una galería, calculadora, etc., nosotros lo creamos para usted.
</p>
</div>
</div>
