<div class="acerca-c">



  <h1 class="acerca-h1">Acerca de nosotros</h1>

<br>
<br>
<br>

<div class="text-acerca-c">

<div class="acerca-section">
<h2 class="acerca-h2"><div class="acerca-span icon-bolt"></div>Aplicaciones web
</h2>
<p class="acerca-texto">
Creamos aplicaciones web no sitios web comunes.
<br>La diferencia radica en que nuestras aplicaciones tienen una interacción similar a una aplicación de télefono.
</p>
<br>
</div>


<div class="acerca-section">
<h2 class="acerca-h2"><div class="acerca-span icon-user"></div>Autenticidad</h2>
<p class="acerca-texto">
No usamos plantillas, por lo que aseguramos que tu aplicación web sea tan única como tu negocio.
</p>
<br>
</div>


<div class="acerca-section">
<h2 class="acerca-h2"><div class="acerca-span icon-check"></div>Garantía de satisfacción</h2>
<p class="acerca-texto">
Si no estas satisfecho con alguna parte de tu aplicación web en el rango de dos semanas después de la entrega, podemos relizar cambios hasta que esté usted satisfecho.
</p>
<br>
</div>


<div class="acerca-section">
<h2 class="acerca-h2"><div class="acerca-span icon-scale"></div>Multiples dispositivos</h2>
<p class="acerca-texto">
Usamos diseño responsivo para crear nuestras aplicaciones web, por lo tanto estas se adaptan a cualquier dispositivo, ya sea tablet, smartphone, laptop, o escritorio.
</p>
<br>
</div>


<div class="acerca-section">
<h2 class="acerca-h2"><div class="acerca-span icon-cube"></div>Logotipos</h2>
<p class="acerca-texto">
Si no tiene logotipo, o desea uno nuevo podemos crear uno para usted, y usted conserva los derechos.
</p>
<br>
</div>


<div class="acerca-section">
<h2 class="acerca-h2"><div class="acerca-span icon-idea"></div>Elementos especializados</h2>
<p class="acerca-texto">
Nos adaptamos a sus necesidades, si necesita algún elemento especial para su aplicación web, como una galería, calculadora, etc., nosotros lo creamos para usted.
</p>
<br>
</div>
</div>
  </div>
<!--<div class="acerca-wallpaper"></div>-->

</div>
