<div class="contacto-c">
  <h1 class="contacto-h1">Contacto</h1>

<div class="contacto-blocks-c">

  <table class="table-con" cellspacing="0" cellpadding="0">
      <tr class="row">
          <th class="th" colspan="2" id="">E-mail</th>
      </tr>
      <tr class="row-content">
          <td class="td">
  wolfwebservices.corp@gmail.com
          </td>
      </tr>
    </table>

    <table class="table-con" cellspacing="0" cellpadding="0">
        <tr class="row">
            <th class="th" colspan="2" id="">Teléfono</th>
        </tr>
        <tr class="row-content">
            <td class="td">811-89-42-683</td>
        </tr>
      </table>


    <table class="table-con" cellspacing="0" cellpadding="0">
        <tr class="row">
            <th class="th" colspan="2" id="">Facebook</th>
        </tr>
        <tr class="row-content">
            <td class="td">
  <a href="https://www.facebook.com/wolfwebservices/" target="_blank"><span class='symbol facebook-img'>circlefacebook</span></div></a>
            </td>
        </tr>
      </table>




</div>
</div>
