<div class="contacto-c">
  <h1 class="contacto-h1">Contacto</h1>

<div class="contacto-blocks-c">

  <table class="mail-con table-con" cellspacing="0" cellpadding="0">
      <tr class="mail-row">
          <th class="mail-th" colspan="2" id="">E-mail</th>
      </tr>
      <tr class="mail-row">
          <td class="mail-td">
  wolfwebservices.corp@gmail.com
          </td>
      </tr>
    </table>


    <table class="facebook-con table-con" cellspacing="0" cellpadding="0">
        <tr class="facebook-row">
            <th class="facebook-th" colspan="2" id="">Facebook</th>
        </tr>
        <tr class="facebook-row">
            <td class="facebook-td">
  <a href="https://www.facebook.com/wolfwebservices/" target="_blank"><div class="facebook-img"></div></a>
            </td>
        </tr>
      </table>


      <table class="phone-con table-con" cellspacing="0" cellpadding="0">
          <tr class="phone-row">
              <th class="phone-th" colspan="2" id="">Teléfono</th>
          </tr>
          <tr class="phone-row">
              <td class="phone-td">
  <h4 for="" class="phone-name">Angelo Giuseppe</h4> <br>
  811-89-42-683
              </td>
          </tr>
        </table>

</div>
</div>
