<div class="contacto-c">
  <h1 class="contacto-h1">Contacto</h1>

<div class="contacto-blocks-c">

  <table class="table-con" cellspacing="0" cellpadding="0">
      <tr class="row">
          <th class="th" colspan="2" id="">E-mail</th>
      </tr>
      <tr class="row-content">
          <td class="td">
  wolfwebservices.corp@gmail.com
          </td>
      </tr>
      <tr>
        <td>
      <!--email_off--><a  href="mailto:wolfwebservices.corp@gmail.com">
          <button type="button" name="button" class="action-btn-con">ENVIAR E-MAIL</button>
          </a><!--/email_off-->
        </td>
      </tr>
    </table>

    <table class="table-con" cellspacing="0" cellpadding="0">
        <tr class="row">
            <th class="th" colspan="2" id="">Teléfono</th>
        </tr>
        <tr class="row-content">
            <td class="td">811-89-42-683</td>
        </tr>
        <tr>
          <td>
            <a href="tel:+5218118942683">
            <button type="button" name="button" class="action-btn-con">LLAMAR</button>
            </a>
          </td>
        </tr>
      </table>


    <table class="table-con" cellspacing="0" cellpadding="0">
        <tr class="row">
            <th class="th" colspan="2" id="">Facebook</th>
        </tr>
        <tr class="row-content">
            <td class="td">
  <a href="https://www.facebook.com/wolfwebservices/" target="_blank"><div class="icon-social-facebook facebook-img"></div></a>
            </td>
        </tr>
      </table>

      <table class="table-con" cellspacing="0" cellpadding="0">
          <tr class="row">
              <th class="th" colspan="2" id="">Formulario de requerimientos generales</th>
          </tr>
          <tr class="row-content">
              <td class="td">
    <a href="https://github.com/wolfwebservices/wolfwebservices.github.io/blob/master/assets/doc/requerimientos_generales.docx?raw=true"
    target="_blank"><div class="pe-7s-cloud-download icon-download"><br><span class="text-descargar">Descargar</span></div></a>
              </td>
          </tr>
        </table>


</div>

</div>
