<div class="planes-c">
  <h1 class="planes-h1">Planes</h1>

<div class="tables-c">

 <!--_______________TABLA 1____________________________________-->

<table class="tables-planes" cellspacing="0" cellpadding="0">
 <tr class="row">
   <th class="header" colspan="2" id="basico">Básico</th>
 </tr>

 <tr class="row">
   <td colspan="2" class="price" id="basico">$4000</td>
 </tr>

<tr class="row">
 <td class="cell-i storage"></td>
 <td class="cell">1GB de espacio</td>
</tr>

<tr class="row dark">
 <td class="cell-i domain"></td>
 <td class="cell">1 Dominio .com/.com.mx</td>
</tr>

<tr class="row">
 <td class="cell-i phone"></td>
 <td class="cell">No compatible con dispositivos móviles</td>
</tr>

<tr class="row dark">
 <td class="cell-i catalog"></td>
 <td class="cell">Catálogo de productos</td>
</tr>

<tr class="row">
 <td class="cell-i support"></td>
 <td class="cell">Soporte técnico</td>
</tr>

<tr class="row dark">
 <td class="cell-i email"></td>
 <td class="cell">Correos ilimitados</td>
</tr>

<tr class="row">
   <td class="cell año" colspan="2" id="basico">$1000 al año</td>
</tr>
</table>

<!--_______________TABLA 2____________________________________-->

<table class="tables-planes" cellspacing="0" cellpadding="0">
 <tr class="row">
   <th class="header" colspan="2" id="premium">Premium</th>
 </tr>

   <tr class="row">
     <td colspan="2" class="price" id="premium">$5000</td>
   </tr>


 <tr class="row">
   <td class="cell-i storage"></td>
   <td class="cell">10GB de espacio</td>
 </tr>

 <tr class="row dark">
   <td class="cell-i domain"></td>
   <td class="cell">1 Dominio .com/.com.mx</td>
 </tr>

 <tr class="row">
   <td class="cell-i phone"></td>
   <td class="cell">Compatible con dispositivos móviles</td>
 </tr>

 <tr class="row dark">
   <td class="cell-i catalog"></td>
   <td class="cell">Catálogo de productos</td>
 </tr>

 <tr class="row">
   <td class="cell-i support"></td>
   <td class="cell">Soporte técnico</td>
 </tr>

 <tr class="row dark">
   <td class="cell-i email"></td>
   <td class="cell">Correos ilimitados</td>
 </tr>

 <tr class="row">
   <td class="cell año" colspan="2" id="premium">$1000 al año</td>
 </tr>
</table>

<!--_______________TABLA 3____________________________________-->

<table class="tables-planes" cellspacing="0" cellpadding="0">
 <tr class="row">
   <th class="header" colspan="2" id="ultimate">Ultimate</th>
 </tr>

   <tr class="row">
     <td colspan="2" class="price" id="ultimate">$6000</td>
   </tr>

 <tr class="row">
   <td class="cell-i storage"></td>
   <td class="cell">10GB de espacio</td>
 </tr>

 <tr class="row dark">
   <td class="cell-i domain"></td>
   <td class="cell">1 Dominio .com/.com.mx</td>
 </tr>

 <tr class="row">
   <td class="cell-i phone"></td>
   <td class="cell">Compatible con dispositivos móviles</td>
 </tr>

 <tr class="row dark">
   <td class="cell-i catalog"></td>
   <td class="cell">Catálogo de productos actualizable por el dueño</td>
 </tr>

 <tr class="row">
   <td class="cell-i support"></td>
   <td class="cell">Soporte técnico</td>
 </tr>

 <tr class="row dark">
   <td class="cell-i email"></td>
   <td class="cell">Correos ilimitados</td>
 </tr>


 <tr class="row">
   <td class="cell año" colspan="2" id="ultimate">$1000 al año</td>
 </tr>
</table>


<!--_______________TABLA 4____________________________________-->

<table class="tables-planes" cellspacing="0" cellpadding="0">
 <tr class="row">
   <th class="header" colspan="2" id="creacion-logo">Creación de logotipo</th>
 </tr>

   <tr class="row">
     <td colspan="2" class="price" id="creacion-logo">$1000</td>
   </tr>

 <tr class="row">
   <td class="cell-i wolf-logo"></td>
   <td class="cell">Diseño personalizado</td>
 </tr>

 <tr class="row dark">
   <td class="cell-i options"></td>
   <td class="cell">3 propuestas</td>
 </tr>

 <tr class="row">
   <td class="cell-i case"></td>
   <td class="cell">Usted conserva los derechos</td>
 </tr>

 <tr class="row dark">
   <td class="cell-i fonts"></td>
   <td class="cell">Reporte de fuentes y colores</td>
 </tr>
</table>

</div>
</div>
