<div class="terminos-c">
  <h1 class="terminos-h1">Términos y condiciones</h1>

  <div class="terminos-txt-c">

    <ol class="terminos-list">
      <li class="element-list"> Es necesario proporcionar la mitad del costo total como adelanto para iniciar el proyecto.</li>
      <li class="element-list">El formulario con la información de los datos que van en la página/aplicación debe ser entregado antes de que pase una semana
        de que se pagó el adelanto, de lo contrario
        se agregaran $200 al costo final por semana extra.</li>
      <li class="element-list">En caso de que no se haya realizado el segundo pago, con el cual se hace la
        entrega de la página/aplicación y no se vaya a realizar, el proyecto será usado con fines de demostración en nuestro portafolio.</li>
      <li class="element-list">Los proyectos realizados contendrán en la sección de abajo la siguiente leyenda: "Creado por Wolf Web Services".</li>
      <li class="element-list">Los proyectos realizados se agregarán al portafolio de nuestra página/aplicación web.</li>
      <li class="element-list">No se realizarán cambios después de que haya pasado la semana permitida que se menciona en la sección "Acerca de nosotros".</li>
      <li class="element-list">No se relizan devoluciones de ningún tipo una vez entregado algún pago.</li>
      <li class="element-list">Sí el cliente deja de pagar cualquiera de los dos , ya sea el hosting o el dominio , Wolf Web Services no se hace responsable
      de la perdida del dominio por compra de terceros o cualquier problema que resulte de la suspensión o atraso del pago correspondiente.</li>
      <li class="element-list">La comunicación se realizará por correo o Whatsapp, el personal no acudira a citas para revisar contenido, que se lo dicten etc.
      El personal acudirá solamente para recojer pagos o informar sobre el servicio.</li>
      <li class="element-list">Wolf Web Services no se hace responsable del contenido, propósito o uso de los proyectos creados.</li>
      <li class="element-list">Wolf Web Services no se hace responsable de robos de copyright por nuestros cleintes , ni cualquier otro problema legal.</li>
      <li class="element-list">Ningún código fuente será entregado hasta que el total del pago por el proyecto haya sido liquidado.</li>
      <li class="element-list">Usted acepta los térmimos y condiciones previamente establecidos al comprar nuestros servicios, hayan sido estos leídos o no.</li>
    </ol>


  </div>

</div>
