.nav-bar-bottom{
    bottom: 0;
    width: 100vw;
    height: 9vh;
    display: none;
    position: fixed;
    overflow: hidden;
    background-color: #202020;
    z-index: 99;
}

.button-nav-bottom{
  width: 20vw;
  height: 100%;
  @include button;
  display:block;
  white-space: nowrap;
  float: left;
  background-color:#202020;
}

.button-img-bottom{
height:5vw;
width:5vw;
background-size: contain;
@include margin-both-sides(7.5vw);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.button-lbl-bottom{
font-size: 2vh;
font-family: "primelight";
}
