.nav-bar-left{
  width: 7vw;
  height: 100vh;
  background-color: #202020;
  position: fixed;
}

.button-nav{
  height: 7vw;
  width: 7vw;
  @include button;
  display:block;
  white-space: nowrap;
  float: left;
  background-color:#202020;
  margin-bottom: 5vh;
  border-radius: 10px;
}




.button-lbl{
  font-size: 1.3vw;
  font-family: "primelight";
}

#contacto-button{
  margin-bottom: 0;
}


.button-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 4.5vw;
  height: 4.5vw;
  @include margin-both-sides(1.25vw);
}

#inicio-img{
  background-image: url("../img/wolf-white-transparent.png");
}
#portafolio-img{
  background-image: url("../img/portfolio.png");
}
#acerca-img{
  background-image: url("../img/acerca.png");
}
#contacto-img{
  background-image: url("../img/mail.png");
}
#planes-img{
  background-image: url("../img/planes.png");
}
