.contacto-h1{
  color:white;
  font-size: 54px;
  width: 100%;
  text-align: center;
  font-family:"trench";
  background-color: #333333;
  height: 54px;
}

//___________table general settings ________________
.table-con{
  background-color: #fafafa;
  text-align: center;
  color:#353535;
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  float: left;
  border-radius: 5px;
  box-shadow: 3px 4px 20px rgba(32,32,32,0.5);
  -moz-animation:bounce .40s linear;
  -webkit-animation:bounce .40s linear;
  margin-bottom: 50px;
}

//__________mail______________________


//___________facebook __________________

.facebook-img{
font-size: 90px;
color: #408EDE;
}

.facebook-img:hover{
color: #2d7dce;
}
// _________Phone _______________


.th{
font-size: 20px;
background-color:  #464646;
color: #fafafa;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

}

.row-content{
height: 100px;
}

.td{
  font-size: 18px;
}


.contacto-blocks-c{
margin-top: 50px;
width: 50%;
@include both(25%);
min-height: 850px;

}


.action-btn-con{
outline:none;
border: none;
background-color: #408EDE;
font-size:15px;
color: #fafafa;
border-radius: 5px;
padding: 6px;
font-family: 'Varela Round', sans-serif;
margin-bottom: 10px;
box-shadow: 3px 1px 20px rgba(32,32,32,0.3);

}

.action-btn-con:hover{
  background-color: #2d7dce;
  box-shadow: 3px 2px 20px rgba(32,32,32,0.3);

}
