.inicio-logo{
  height: 30vw;
  width: 30vw;
  background-image: url("../img/wolf-transparent.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include both(35vw);
  margin-top: 55px;
  -moz-animation:bounce .70s linear;
  -webkit-animation:bounce .70s linear;
  transition: height 999999s
}

.inicio-h1{
  text-align: center;
  font-family: arial;
  font-size: 9vw;
  font-family:"trench";
  color: #202020;
}

.inicio-h3{
  text-align: center;
  font-family: arial;
  font-size: 3vw;
  font-family:"trench";
  color: #202020;
  margin-bottom: 100px;
}


.inicio-c{
  height: 100vh;
  width: 100%;
  position: absolute;
}


.inicio-wallpaper{
  background-image: url("../img/wallpaper-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.3;
  filter: blur(3px);
}
