.portafolio-h1{
  color:white;
  font-size: 54px;
  width: 100%;
  text-align: center;
  background-color: #333333;
  font-family:"trench";
  height: 54px;
}


.webapp-portafolio{
height: 200px;
width: 25%;
background-color:#333333;
border-radius: 5px;
overflow: hidden;
float: left;
margin-left:6.25%;
box-shadow: 10px 5px 20px rgba(32,32,32,0.5);
}

.webapp-title{
  background-color:#408EDE;
  color: #fafafa;
  height: auto;
  font-size: 20px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}


.proyects-c{
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 400px;
}
