#v-acerca{

}

.acerca-h1{
  color:white;
  font-size: 7vw;
  width: 100%;
  text-align: center;
  background-color: #202020;
}

.acerca-h2{
  color:#353535;
  font-size: 5vw;
  width: 100%;
  text-align: center;
  //background-color: #202020;
  font-family: 'primelight';
  -moz-animation:bounce .40s linear;
  -webkit-animation:bounce .40s linear;
}

.acerca-texto-1{
  color: #464646;
  font-family: arial;
  font-size: 2vw;
  width: 50%;
  height: auto;
  @include margin-both-sides(25%);
  text-align: justify;
  @include margin-both-tb(5vh);
  -moz-animation:bounce .40s linear;
  -webkit-animation:bounce .40s linear;
}

.acerca-texto-2{
  color: #464646;
  font-family: arial;
  font-size: 2vw;
  width: 50%;
  height: auto;
  @include margin-both-sides(25%);
  text-align: justify;
  @include margin-both-tb(5vh);
  -moz-animation:bounce .40s linear;
  -webkit-animation:bounce .40s linear;
}

.acerca-texto-3{
  color: #464646;
  font-family: arial;
  font-size: 2vw;
  width: 50%;
  height: auto;
  @include margin-both-sides(25%);
  text-align:justify;
  @include margin-both-tb(5vh);
  -moz-animation:bounce .40s linear;
  -webkit-animation:bounce .40s linear;
}
