#v-contacto{
//background-color:yellow;
}

.contacto-h1{
  color:white;
  font-size: 7vw;
  width: 100%;
  text-align: center;
  background-color: #202020;
}

.contacto-c{
margin-top: 10vh;
}


//___________table general settings ________________
.table-con{
  background-color: #464646;
  text-align: center;
  color:white;
  font-family: "trench";
  width: 40vw;
  height: auto;
  @include border-radius(5px);
}

//__________mail______________________

.mail-con{
  float: left;
margin-left: 4.3333vw;
}

.mail-th{
  font-size: 3vw;
background-color: #353535;
}


.mail-td{
  height: 15vh;
  font-size: 2.4vw;
}

//___________facebook __________________
.facebook-con{
  float: right;
  margin-right: 4.3333vw;

}

.facebook-th{
  font-size: 3vw;
background-color: #353535;
}


.facebook-td{
  height: 15vh;
  font-size: 2.4vw;
}

.facebook-img{
  background-image: url("../img/facebook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 7vw;
  width: 7vw;
  margin-left:16.5vw;
}

// _________Phone _______________
.phone-con{
  float: left;
  margin-left: 4.3333vw;
  margin-top: 10vh;
}

.phone-th{
  font-size: 3vw;
background-color: #353535;
}


.phone-td{
  height: 15vh;
  font-size: 2.4vw;
}

.phone-img{
  background-image: url("../img/facebook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 7vw;
  width: 7vw;
  margin-left:16.5vw;
}

.phone-name{
  background-color: #202020;
  width: 60%;
  @include border-radius(20px);
  @include margin-both-sides(20%);
}
