#v-inicio{
//background-color:red;
}


.inicio-logo{
  //background-color: blue;
  height: 30vw;
  width: 30vw;
  background-image: url("../img/wolf-transparent.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include margin-both-sides(31.5vw);
}

.inicio-h1{
  text-align: center;
  font-family: arial;
  font-size: 9vw;
  font-family:"trench";
  color: #202020;
}

.inicio-h3{
  text-align: center;
  font-family: arial;
  font-size: 3vw;
  font-family:"trench";
  color: #202020;
}


.inicio-c{
margin-top: 10vh;
}
