.view{
width: 93vw;
height: 100vh;
margin-left: 7vw;
display: none;
position:fixed;
overflow-y: scroll;
overflow-x: hidden;
animation: 0.3s ease-out 0s 1 slideInFromTop;
}


.active-button{
  background-color: rgba(10,10,10,0.5);
}
