@media only screen and (max-width: 1000px) {

//___________Nav bar_____________
.nav-bar-left{
display: none;
}

.nav-bar-bottom{
display: block;
}

.button-img-bottom{
height:3.5vw;
width:3.5vw;
@include margin-both-sides(8.25vw);
}

//_________views_____________

.view{
width: 100vw;
height: 91%;
float: none;
margin-left: 0vw;
top: 0;
display: none;
}



//________Inicio___________

.inicio-logo{
  height: 50vw;
  width: 50vw;
  @include margin-both-sides(25vw);

}

.inicio-h1{
    font-size: 17vw;
}

.inicio-h3{
  font-size: 5vw;

}

//________Acerca___________


.acerca-h1{
  font-size: 11vw;
  position: fixed;
  top: 0;
}

.acerca-h2{
    font-size: 10vw;
}

.acerca-texto-1{
  width: 90%;
  @include margin-both-sides(5%);
    font-size: 5vw;
}

.acerca-texto-2{
  width: 90%;
  @include margin-both-sides(5%);
  font-size: 5vw;
}

.acerca-texto-3{
  width: 90%;
  @include margin-both-sides(5%);
  font-size: 5vw;
}

.devices-img{
  width: 90vw;
  height: 50vw;
  @include margin-both-sides(5%);
}



//________Planes___________

.planes-h1{
  font-size: 11vw;
  position: fixed;
  top: 0;
}


.table-1{
  width: 80%;
  @include margin-both-sides(10%);
  margin-bottom: 10vh;
}

.table-2{
  width: 80%;
  @include margin-both-sides(10%);
  margin-bottom: 10vh;
}

.table-3{
  width: 80%;
  @include margin-both-sides(10%);
  margin-bottom: 10vh;
}

.table-4{
  width: 80%;
  @include margin-both-sides(10%);
  margin-bottom: 10vh;
}

.row{
  height: 7vh;
}

.header{
  font-size: 15vw;
}

.price{
  font-size: 20vw;
}

.cell{
  font-size: 6vw;
}

.storage{
background-size: 6vw 6vw;
}
.domain{
background-size: 6vw 6vw;
}
.phone{
  background-size: 6vw 6vw;
}
.catalog{
  background-size: 6vw 6vw;
}
.support{
  background-size: 6vw 6vw;
}
.email{
  background-size: 6vw 6vw;
}

.año{
  font-size: 10vw;
}

.wolf-logo{
  background-size: 6vw 6vw;
}

.fonts{
  background-size: 6vw 6vw;
}

.case{
  background-size: 6vw 6vw;
}

.options{
  background-size: 6vw 6vw;
}


/*__________Portafolio______________*/

.portafolio-h1{
  font-size: 11vw;
  position: fixed;
  top: 0;
}

.h-demo{
  font-size: 5vw;
}

.row-p{
height: 15vh;
}

.t-demo{
width: 40%;
margin-top: 0vh;
}

.t1{
@include margin-both-sides(6.66667%);
margin-top: 10vh;
}

.t2{
margin-top: 10vh;
@include margin-both-sides(0%);
}

.t3{
  @include margin-both-sides(6.66667%);
  margin-top: 5vh;
}

.t4{
  margin-top: 5vh;
  @include margin-both-sides(0%);
}

/*________________Contacto___________________*/

.contacto-h1{
  font-size: 11vw;
  position: fixed;
  top: 0;
}

.table-con{
  width: 90vw;
  @include margin-both-sides(5vw);
}

.facebook-con{
  margin-top: 5vh;
}

.phone-con{
  margin-top: 5vh;
  margin-bottom: 10vh;
}




.mail-td{
  font-size: 5.5vw;
}

.facebook-img{
height: 20vw;
width: 20vw;
@include margin-both-sides(35vw);
}

.phone-td{
font-size: 5.5vw;
}

.mail-th{
  font-size: 10vw;
}

.facebook-th{
  font-size: 10vw;
}

.phone-th{
  font-size: 10vw;
}






 }
