@media only screen and (max-width: 600px) {

//___________Nav bar_____________


.nav-bar-left{
display: none;
}

.nav-bar-bottom{
  display: block;
}

.button-img-bottom{
height:5.5vw;
width:5.5vw;
@include margin-both-sides(7.25vw);
}



}
