.inicio-img{
  width: 100%;
  height:calc(100vh - 54px);
//  background-color: red;
  background-image: url("../img/houses.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  //background-attachment:fixed;
  z-index: -1;
}


.hipotecaris-logo{
  background-image: url("../svg/hipotecaris.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vw;
  width: 40vw;
  z-index: 4;
  position: absolute;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 10vh;
  background-color:rgba(250,250,250,0.4);
  overflow: hidden;
  background-size: 120% 120%;
  border-radius: 10%;
  backdrop-filter: blur(5px);
  -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
animation-delay: 0.5s;
  -webkit-animation: slideDown 1s; /* Safari 4+ */
   -moz-animation:    slideDown 1s; /* Fx 5+ */
   -o-animation:      slideDown 1s; /* Opera 12+ */
   animation:         slideDown 1s; /* IE 10+, Fx 29+ */
}


.inicio-v{
  margin-top: 54px;
}
