.h1-contactanos{
  font-size: 6vw;
  font-family: 'prime_light';
  margin-top: 100px;
  text-align: center;
    padding: 3px;

}
$text-color:#202020;
$background-color-c:#c1c1c1;



.contactanos-container{
@include container(90%);
margin-top: 100px;

}

.row{
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}
/*_______________ PHONES SECTION_______________ */
.phones{
  width: 40%;
  height: auto;
  font-family: 'prime_light';
  background-color: $background-color-c;
    @include span(6 of 12 at 0);
    -webkit-box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
        -moz-box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
        box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
        margin-bottom: 10px;
        margin-top: 10px;
}

.phones-c{
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: $text-color;
  text-align: center;
}


.h1-telefono{
  margin-bottom: 10px;
  background-color: #202020;
  width: 100%;
  color: #f5f5f5;
  text-align: center;
    padding: 3px;
}

.nombre-tel{
  font-family: 'prime_light';
  color:#202020;
  font-size: 200%;
}


.tel{
  font-family: 'prime_light';
  color:#202020;
  font-size: 200%;
}


/*_______________ E-MAIL SECTION_______________ */
.mail{
  width: 40%;
  height: auto;
  font-family: 'prime_light';
  background-color: $background-color-c;
  @include span(6 of 12 at 7);
  -webkit-box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      -moz-box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      margin-bottom: 10px;
      margin-top: 10px;

}

.mail-c{
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: $text-color;
  text-align: center;

}

.mail-h1{
  background-color: #202020;
  width: 100%;
  margin-bottom: 10px;
  color: #f5f5f5;
  text-align: center;
    padding: 3px;
}


.e-mail{
  font-size: 200%;
}

/*_______________ FACEBOOK SECTION_______________ */

.facebook{
  width: 40%;
  height: auto;
  font-family: 'prime_light';
  background-color: $background-color-c;
  @include span(6 of 12 at 0);
  -webkit-box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      -moz-box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      margin-bottom: 10px;
      margin-top: 10px;
}


.facebook-c{
  margin-bottom: 50px;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  color: $text-color;
  text-align: center;
}
.facebook-h1{
  margin-bottom: 10px;
  background-color: #202020;
  width: 100%;
  color: #f5f5f5;
  text-align: center;
  padding: 3px;
}
.facebook-img{
  width:20ex;
  height:auto;
}


/*_______________ FORM SECTION_______________ */

.form{
  width: 40%;
  height: auto;
  font-family: 'prime_light';
  background-color: $background-color-c;
  @include span(6 of 12 at 7);
  -webkit-box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      -moz-box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      box-shadow: 0 0 5px 2px rgba(32,32,32,0.8);
      margin-bottom: 10px;
      margin-top: 10px;
}


.form-c{
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: $text-color;
  text-align: center;
}

.form-h1{
  background-color: #202020;
  width: 100%;
  color: #f5f5f5;
  text-align: center;
    padding: 3px;
}


.inputs{
  background-color: #202020;
  outline-color: transparent;
  border-style:none;
  color:#f5f5f5;
  height: 30px;
  font-family: 'prime_light';
  font-size: 16px;
  text-align:left;
  margin: auto;
  /*--BORDER--*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
text-align: center;
  @include span (12 of 12 at 0);
  -webkit-box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
      -moz-box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
      box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(245,245,245,0.3);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(245,245,245,0.3);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(245,245,245,0.3);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(245,245,245,0.3);
}


.label{
    @include span (12 of 12 at 0);
}

.message{
  height: 30ex;
  resize: vertical;
}





/*____________________ RESPONSIVE SHIT___________________________*/
@media (max-width:1000px) {

.h1-contactanos{
  font-size: 7ex;
}

.contactanos-container{
  margin-top: 50px;
}

.phones{
  @include span (12 of 12 at 0);
}

.mail{
    @include span (12 of 12 at 0);
}

.facebook{
    @include span (12 of 12 at 0);
}


.form{
    @include span (12 of 12 at 0);
    margin-bottom: 100px;
}


.inputs{
width: 98%;
}

.row{
  margin-bottom: 5px;
}

.e-mail{
  font-size: 120%;
}

}
