.footer{
position: absolute;
z-index: 1;
height: auto;
min-width: 100%;
background-color:#202020;
color: #606060;
text-align:center;
overflow: hidden;
margin-left: 0px;
font-size: 16px;
font-family: 'prime_light';
}

.row1{
margin-top: 15px;
}

.footer_ul{
list-style: none;
}
