
.container_wolf{
  overflow: hidden;
}

.inicio_container{
@include container(90%);
height: 100vh;
}

.header1_wolf{
font-size: 14vh;
margin-top: 150px;
font-family: 'prime_light';
text-align:center;
/*____Jquery animation duration____ */
-webkit-animation-duration: 3s;
-webkit-animation-delay: 0s;
@include span (12);
margin-top: -2vh;
}

.wolf_logo{
height: 25vw;
width: 25vw;
margin-top: 100px;
background-repeat: no-repeat;
float: left;
background-position: center;
/*____Jquery animation duration____ */
-webkit-animation-duration: 3s;
-webkit-animation-delay: 0s;
@include span (2 at 0 of 2);
}

.header2_wolf{
  font-size: 5vh;
font-family: 'prime_light';
  overflow:visible;
text-align: center;
/*____Jquery animation duration____ */
-webkit-animation-duration: 3s;
-webkit-animation-delay: 0s;
}

.logo{
  margin-top: 10vh;
  display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    width: 40vh;
}

@media (max-width:1000px) {

.header1_wolf{
  @include span( 12 at 0 of 12);
  font-size: 11vh;
  margin-top: -1vh;
  overflow: visible;
  padding-top: 2px;
}
.header2_wolf{
  font-size: 4vh;
}

}

@media (max-width:768px) {
  .header1_wolf{
    @include span( 12 at 0 of 12);
    font-size: 11vh;
    margin-top: -1vh;
    overflow: visible;
    padding-top: 2px;
  }
  .header2_wolf{
    font-size: 4vh;
  }

}
@media (max-width:570px) {

.logo{
  margin-top: 20vh;
}
}

@media (max-height:600px) {
.logo{
  margin-top:90px;
}
}
