*:focus {outline:none}

*{
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
}

body{
  background-color:#ffffff;
}


@font-face {
    font-family:"primelight";
    src: url("../fonts/primelight.otf");
}

@font-face {
    font-family:"trench";
    src: url("../fonts/trench100free.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


@import url('https://fonts.googleapis.com/css?family=Varela+Round');
