@mixin both($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin both-top-bottom($value) {
  margin-top: $value;
  margin-bottom: $value;
}


@mixin border-radius($value) {
  border-radius: $value;
}
