/*__________________NAVIGATION BAR SECTION______________*/

#transparent{
background-color:transparent;
color:transparent;
}

#navigation_bar {
  width: 100%;
  height: 50px;
  background-color: transparent;
  position:fixed;
  background-color:rgba(245,245,245,0.5);
  overflow: hidden;
  /*____Jquery animation duration____ */
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  z-index: 99;
}

#inicio {
  width: 160px;
  height: 40px;
background-color:$primary-color;
border-style: none;
outline-style:none;
  color: whitesmoke;
  margin-top: 5px;
  margin-left: 10px;
  text-align: center;
  font-family: 'prime_light';
  font-size: 20px;
  /*--BORDER--*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#acerca {
  width: 160px;
  height: 40px;
  background-color:$primary-color;
  border-style: none;
  outline-style:none;
  color: whitesmoke;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  font-family: 'prime_light';
  font-size: 20px;
  /*--BORDER--*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


#planes {
  width: 160px;
  height: 40px;
  background-color: $primary-color;
  border-style: none;
  outline-style:none;
  color: whitesmoke;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  font-family: 'prime_light';
  font-size: 20px;
  /*--BORDER--*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


#contacto {
  width: 160px;
  height: 40px;
  background-color:$primary-color;
  border-style: none;
  outline-style:none;
  color: whitesmoke;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  font-family: 'prime_light';
  font-size: 20px;
  /*--BORDER--*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#portafolio {
  width: 160px;
  height: 40px;
  background-color: $primary-color;
  border-style: none;
  outline-style:none;
  color: whitesmoke;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  font-family: 'prime_light';
  font-size: 20px;
  /*--BORDER--*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#wolf_text {
  width: 220px;
  height: 40px;
  float: right;
  margin-right: 10px;
  background-color: transparent;
  border-style: none;
  outline-style:none;
  color: $primary-color;
  margin-left: 10px;
  margin-top: 5px;
  text-align: left;
  font-family: 'prime_light';
  font-size: 20px;
  background-image: url("wolf.svg");
  background-repeat: no-repeat;
  background-position: right;
  /*--BORDER--*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
