/*CUSTOMIZE SCROLL BAR*/
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: thin 0 0 6px #202020;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  background-color: #202020;
  outline: 1px solid #202020;
  /*--BORDER--*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
