/*__________GLOBAL VARIABLES________________*/
$primary-color: #202020;

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y:visible;

}

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y:hidden;
}
.ng{
height:auto;
width: 100vw;
overflow-y:scroll;
overflow-x: hidden;

}




@import "_fonts.scss";
@import "_mobile-bar.scss";
@import "_navigation-bar.scss";
@import "_body.scss";
@import "_inicio.scss";
@import "_acerca.scss";
@import "_portafolio.scss";
@import "_footer.scss";
@import "_scrollbar.scss";
@import "_responsive.scss";
