.contacto-h1{
  font-size: 10vw;
height: auto;
}




.contacto-blocks-c{
margin-top: 20px;
@include both(10%);
width: 80%;
min-height: 700px;
margin-bottom: 20px;
}


.td{
  font-size: 100%;
}

.text-descargar{
  font-size: 17px;
}
