.portafolio-h1 {
  font-size: 10vw;
  height: auto;
}

.webapp-portafolio {
  width: 80%;
  @include both(10%);
  margin-bottom: 30px;
}


.proyects-c{
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
}


.portafolio-c{
    height:100%;
}
