<div class="calculadora-v">

  <div class="calculadora-img-wrapper">
    <div class="calculadora-img-color"><h1 class="acerca-img-h1">Calculadora</h1></div>
    <div class="calculadora-img"></div>
  </div>

  <div class="graph">
    <canvas id="chart" width="50px" height="25px"></canvas>
  </div>

<div class="calculadora-c">

<div class="calculadora-h">Calculadora de crédito hipotecario</div>
<br>
<div for="" class="calculadora-lbl">Selecciona un porcentaje
  de interés de la gráfica para usarlo en la calculadora
</div>
<br>
<div for="" class="calculadora-lbl">Importe $</div>
<input type="number" class="calculadora-input" id="importe">
<br>
<br>
<div for="" class="calculadora-lbl">Plazo en meses</div>
<input type="number" class="calculadora-input" id="meses">
<br>
<br>
<div for="" class="calculadora-lbl">Taza de interés %</div>
<input type="number" class="calculadora-input" id="interes">
<br>
<br>
<button type="button" name="button" class="calculadora-button" onclick="cal()" id="boton">CALCULAR</button>
<br>
<br>
<div for="" class="calculadora-lbl">Usted pagaría por mes</div>
<input for="" id="result" class="calculadora-input" disabled>
<br>
<br>
</div>





</div>
