.planes-h1{
  font-size: 6vw;
  font-family: 'prime_light';
  text-align: center;
  margin-top: 100px;
  overflow: visible;

}


.gray{
  background-color:#f9f9f9;
  color: #202020;
  font-family: 'prime_light';
  font-size: 22px;
}

.whitesmoke{
  background-color: #f1f1f1;
color: #202020;
  font-family: 'prime_light';
font-size: 22px;

}

.planes-h2{
  font-size: 50px;
    overflow: visible;
}
.tr{
  height: 5vh;

}


.planes_container{
@include container(90%);
margin-top: 50px;
height: 80vh;
}

.planes-table1{
@include span(4 at 0);
text-align: center;
border-top: 3px solid;
border-right: 3px solid;
border-left: 3px solid;
border-bottom: 3px solid;
border-color: gray;
border-style:dashed;
}


.planes-table2{
  @include span(4 at 5);
    text-align: center;
    border-top: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: gray;
    border-style:dashed;
}


.planes-table3{
  @include span(4 at 9);
    text-align: center;
padding-left: 0;
border-top: 3px solid;
border-right: 3px solid;
border-left: 3px solid;
border-bottom: 3px solid;
border-color: gray;
border-style:dashed;
}




@media (max-width:1000px) {

.planes-table1{
      @include span(12);
      text-align: center;
      margin-bottom: 50px;
  }


  .planes-table2{
    @include span(12);
      text-align: center;
        margin-bottom: 50px;
  }


  .planes-table3{
    @include span(12);
      text-align: center;
        margin-bottom: 50px;

  }

.planes-h1{
  font-size: 70px;
  overflow: visible;
}


.gray{
  height: 60px;
    overflow: visible;
}

.whitesmoke{
  height:60px;
    overflow: visible;
}


.planes_container{
@include container(90%);
margin-top: 50px;
height: auto;
}


}
