.hamburger-menu{
  display: none;
}

.mobile-nav-bar{
  display: none;
  background-color: rgba(250,250,250,0.9);
  max-height: 0;
  width: 100%;
  position: fixed;
  z-index: 98;
}



.open{
display: block;
max-height: 600px;
animation: slideDown 0.5s ease;

}

.closed{
max-height: 0px;
animation: slideUp 2s ease;
display: none;
}




.hamburger-menu{
  display: inline-block;
  height: 54px;
  width: 54px;
  float: right;
  outline: none;
  border: none;
  margin-right: 5px;
  background-color: transparent;
}



.nav-mobile-btn{
width: 100%;
text-align: center;
float: left;
font-size: 100%;
margin-bottom: 3%;
height: 5vh;
background-color: transparent;
color: #707070;
outline: none;
border: none;
}

.nav-mobile-btn:active{
  background-color: #707070;
  color: rgb(250,250,250);
}

.nav-mobile-btn:hover{
  background-color: #202020;
  color: rgb(250,250,250);
}


#mobile-btn-inicio{
  margin-top: 3%;
}


//Hamburger settings
