.footer{
  height: 200px;
  width: 100%;
  background-color:#262626;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
   -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
   box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
   bottom: 0;
}


.section-1-footer{
  float: left;
  color: #a0a0a0;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  margin-left: 10px;
}

.like-c{
  float: right;
  margin-right: 10px;
  margin-top: 40px;

}

.fb-like{
  color: #a0a0a0;
}

.h1-footer{
  font-size: 20px;
  margin-top: 30px;
  padding: 10px;
}

.text-footer{
  font-size: 13px;
  outline: none;
  border: none;
   background-color: transparent;
   color: #a0a0a0;
   font-family: 'Varela Round', sans-serif;
   padding: 10px;


}

.text-footer:hover {
 text-decoration: underline;
 color: #408EDE;

}
