*{
  padding: 0;
  margin: 0;
    font-family:"primelight";
}

@font-face {
    font-family:"primelight";
    src: url("trench100free.ttf");
}

@font-face {
    font-family:"trench";
    src: url("trench100free.ttf");
}
