*{
  padding: 0;
  margin: 0;
}

@font-face {
    font-family:"primelight";
    src: url("primelight.otf");
}

@font-face {
    font-family:"trench";
    src: url("trench100free.ttf");
}


h1{
  font-family: "trench";
}

label{
  font-family: "primelight";
}


@import url('https://fonts.googleapis.com/css?family=Roboto');
