*{
  margin: 0;
  padding: 0;
}


@import url("http://weloveiconfonts.com/api/?family=entypo");
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');


body{
// background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-position: center;
  background-size: 10% 10vw;

}


//Browser fixes for inputs and buttons

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
